
#hello {
    background-color: #DADFF7 !important;
    color: black;
    padding: 0 !important;
}

#tab input:focus {
    outline: 2px solid blue !important;
}

@media screen and (max-width: 1037px) {
    #hehe {
        max-width: 100vw;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    /*.col {*/
    /*    padding-left: 7px !important;*/
    /*    padding-right: 7px !important;*/

    /*}*/
}

#btn {
    margin-top: 5px;
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #A4A4A4;
    display: inline-block;
    border: 1px solid blueviolet;
    border-radius: .2rem;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

/*@media screen and (min-width: 1030px) {*/
/*    #hehe {*/
/*        !*max-width: 100vw;*!*/
/*        !*overflow-y: scroll;*!*/
/*    }*/
/*}*/

#onceclickable {
    margin-top: 5px;
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #A4A4A4;
    display: inline-block;
    border: 1px solid blueviolet;
    border-radius: .2rem;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

#onceclickable:disabled {
    background-color: #C6CFFF !important;
    font-size: 19px;
}
